@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

.a{
        color: #82ae46;
}



.heading-section h2 {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
}


.heading-section .subheading {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    font-family: "Lora", Georgia, serif;
    font-style: italic;
    color: #82ae46;
}

.flex-between-center{
    @apply flex justify-between items-center;
}

.flex-center{
    @apply flex justify-center items-center;
}

.img-fit-cover{
    @apply w-full h-full object-cover;
}

.heading-footer{
    @apply text-black mb-4 font-medium !text-[16px];
}

.scroll-top{
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: #82ae46;
    border-radius: 50%;
    left: 50%;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.scroll-top i{
 color: white;
}


.a{
    color: black;
        width: 100%;
            padding: 0.375rem 0.75rem;
        height: 52px;
        background-color: white;
        border: 1px solid transparent;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        box-shadow: none;

}


.banner-swiper .swiper-slide{
    height: calc(100vh - 111px);
}


/**/

.btn-success{
    display: inline-block;
    padding: 10px 20px;
    background-color: #82ae46;
    border-radius: 25px;
    cursor: pointer;
}

